:root {
    --white: #eeeeee;
    --grey: #A89B8C;
    --blue: #9BC4CB;
    --yellow: #F0DFAD;
    --purple: #e787e7;
    --orange: #ff875f;
	--black: #000000;
	--beige: #EDF0DA;
}

/* .white { color: var(--white) }
.grey { color: var(--grey) }
.blue { color: var(--blue) }
.green { color: var(--green) }
.yellow { color: var(--yellow) }
.purple { color: var(--purple) }
.orange { color: var(--orange) }*/
.beige { color: var(--beige) }
.blue { color: var(--blue) } 


body
{
	background: #404040;
	font-family: 'Montserrat', sans-serif;
}

h1,h2
{
	color: white;
}

a
{
	color: black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.movies {
	text-align: center;
}

.material-icons.md-48
{
	font-size: 48px;
	letter-spacing: 30px;
}

.material-icons.md-36 { font-size: 36px; }

.navbar
{
}

.navbar_link
{
	text-decoration: none;
}

#home_button
{
	float:left;
	padding-top: 10px;
}
#category_title
{
	float:left;
}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* color: white; */
	text-align: center;

	font-size: 24px;
	letter-spacing: 2px;
	text-decoration: none;
}

.footer_link
{
	/* color: beige; */
	text-decoration: none;
}





.table-border {
    display: inline-block;

    /* border: 1px solid var(--grey);
    padding: 2px; */
}

table {
	text-shadow: 1px 1px #000;

	color: var(--beige);
    text-align: left;

    border-collapse: collapse;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

td, th {
    padding: 0 0.5rem;

    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
}

thead > tr:first-child > td { padding-top: 0.5em; }

tbody > tr:last-child > td { padding-bottom: 0.2em; }
