:root {
    --grey: #A89B8C;
    --blue: #9BC4CB;
    --yellow: #F0DFAD;
	--beige: #EDF0DA;
}


.beige { color: var(--beige) }
.blue { color: var(--blue) } 


body
{
	background: #404040;
	font-family: 'Montserrat', sans-serif;
}

a
{
	color: black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.caption {

    position: absolute;
    top: 54%;
    left: 49.2%;
    transform: translateX(-50%) translateY(-50%);

    word-spacing: 30px;
}


.material-icons.md-48
{
	font-size: 48px;
	letter-spacing: 30px;
}

.material-icons.md-36 { font-size: 36px; }

.navbar_link
{
	text-decoration: none;
}


.return {
	position: absolute;
    top: 0%;
    left: 0%;
}


.table-border {
    display: inline-block;

    /* border: 1px solid var(--grey);
    padding: 2px; */
}

table {
	text-shadow: 1px 1px #000;

	color: var(--beige);
    text-align: left;

    border-collapse: collapse;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

td, th {
    padding: 0 0.5rem;

    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
}

thead > tr:first-child > td { padding-top: 0.5em; }

tbody > tr:last-child > td { padding-bottom: 0.2em; }
