header
{
	background: #777;
	color: white;
	padding: 5px;
}

header h1
{
	font-family: arial;
}

nav ul li
{
	background: black;
	color: white;
	display: inline-block;
	padding: 5px 15px;
}

nav ul li a
{
	color: white;
}

div .col
{
	background: #333;
	border-radius: 5px;
	color: white;
	padding: 10px .5%;
	float: left;
	margin: .5%;
	width: 31%;
}

footer
{
	clear: both;
}